/* @font-face {
  font-family: "AronGrotesque-Bold";
  src: url("/css/webfont/AronGrotesque-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/css/webfont/AronGrotesque-Bold.woff") format("woff"),
    url("/css/webfont/AronGrotesque-Bold.ttf") format("truetype"),
    url("/css/webfont/AronGrotesque-Bold.svg#AronGrotesque-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "AronGrotesque-Bold";
  src: url("../webfonts/AronGrotesque-Bold/AronGrotesque-Bold.ttf");
}
