{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//db.onlinewebfonts.com/c/605c1c612570275f24508913462da771?family=Radikal" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Its amazing place to learn..</h1>
          <p class="lead text-muted">Lets get started with in & out of programming...</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Call Me</a>
            <a href="mailto:letscode@yahoo.com" class="btn btn-secondary my-2">Enroll Now</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for course in courses.all  %}


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">

                <img class="card-img-top img-fluid" style="width:100%;" src="{{ course.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <a href="{% url 'course-details' course.id %}">
                  <h1 class="card-title">{{ course.title }}</h1>
                    </a>
                  <p class="card-text">{{ course.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>


